# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/
build/

# Environment files
# (.env tracking explicitly enabled)

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
